 {% load bootstrap5 %}
 
<div class="col-sm-1 d-sm-none d-md-block">
</div>
    <!-- add holding to portfolio -->
    <div class="col text-center">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#newHolding" style="text-align: center;"><i class="bi bi-plus-lg"></i></button>

        <div class="collapse" id="newHolding">
            <div class="card card-body bg-secondary mt-3">
                <div class="form-group">
                <form class="form" action="" method="POST" role="form">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col text-center">
                                <h4>Add Holding</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="ui-widget">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col">
                                {{ form.entry_price }}
                            </div>
                            <div class="col">
                                {{ form.entry_amount }}
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col"></div>
                            <div class="col text-start ms-4">
                                {{ form.use_mv_entry }}  {{ form.use_mv_entry.label_tag }}
                                <input type="hidden" id="mv_placeholder">
                            </div>
                            <div class="col"></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary mt-2">Add To Portfolio</button>
                            </div>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
<div class="col-sm-1 d-sm-none d-md-block">
</div>


