<div class="col-sm-1 d-sm-none d-md-block">
</div>
    <div class="col">
        <!-- display portfolio -->
        <div class="table-responsive">
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Coin Name</th>
                    <th scope="col">Current Value</th>
                    <th scope="col">P/L</th>
                    <th scope="col">Current Price</th>
                    <th scope="col">Entry Price</th>
                    <th scope="col">Entry Amt</th>
                    <th scope="col">Entry Date</th>
                </thead>
                <tbody>
                    {% for row in portfolio.positions %}
                        <tr>
                            <td>
                                <button type="button" class="btn btn-link btn-sm m-0 p-0" data-bs-toggle="modal" data-bs-target="#modal{{ row.dbID }}">
                                    <i class="bi bi-trash text-light"></i>
                                </button>
                                <!-- MODAL -->
                                {% include 'portfolio/includes/modal-delete.html' %}
                            </td>
                            <th scope="row" class="row-index"></th>   
                            <td>
                                {% if row.current_value > row.entry_amount %}
                                    <i class="bi bi-caret-up" style="color: lightgreen;"></i>
                                {% elif row.current_value < row.entry_amount %} 
                                    <i class="bi bi-caret-down" style="color: red;"></i>
                                {% else %}
                                    <i class="bi bi-dash-square" style="color: white"></i>
                                {% endif %}
                            </td>
                            <td style="font-weight: 500;">{{ row.coin_id }} ({{ row.symbol }})</td>
                            <td>${{ row.current_value }}</td>
                            <td>{{ row.pl }} {{ row.pl_percent }}%</td>
                            <td>{{ row.current_price }}</td>
                            <td>{{ row.entry_price }}</td>
                            <td>{{ row.entry_amount }}</td>
                            <td>{{ row.date|date:"SHORT_DATE_FORMAT" }}</td>
                        </tr>
                    {% endfor %}
                
                </tbody>
            </table>
        </div>
    </div>
<div class="col-sm-1 d-sm-none d-md-block">
</div>


