{% extends 'portfolio/base/base.html' %}
{% load static %}

{% block main %}
<div class="container">
    <div class="row pt-3">
        <h1>Login</h1>
            <form action="" method="POST">
                {% csrf_token %}

              
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Username</label>
                      <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" name="password">
                    </div>
                  
                  
                 
                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
    </div>
</div>
{% endblock %}