{% extends 'portfolio/base/base.html' %}
{% load static %}

{% block site_css %}
<style>
    main {
        background-color: darkslategrey;
    }
</style>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row pt-3 pb-0">
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            There was an error with your form...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <div class="shadow p-3 bg-secondary rounded" style="background-color:lightslategray">
            <h2>Register</h2>
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
        </div>
    </div>
</div>
{% endblock %}