<div class="col-sm-8" id='load'>
    <div class="row">
        <div class="col" style="border-right: 1px dotted black;">
            <h2><i class='fab fa-bitcoin' style='font-size:48px;color:gold'></i><span class="heading-price"> ${{ BTC }}</span></h2>
        </div>

        <div class="col" style="border-right: 1px dotted black;">
            <h2><i class='fab fa-ethereum' style='font-size:48px;color:gray'></i><span class="heading-price"> ${{ ETH }}</span></h2>
        </div>
    </div>
</div>