{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


<!DOCTYPE html>
<html lang="en">
    {% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 
  {% endblock %}

  {% block body %}
    <div class="container">
        <!-- TITLE ROW -->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1 class=>Portfolio Tracker</h1>
                <br>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <!-- BTC AND ETH ROW -->
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col" style="border-right: 1px dotted black;">
                        <h2><i class='fab fa-bitcoin' style='font-size:48px;color:gold'></i><span class="heading-price"> ${{ BTC }}</span></h2>
                    </div>

                    <div class="col" style="border-right: 1px dotted black;">
                        <h2><i class='fab fa-ethereum' style='font-size:48px;color:gray'></i><span class="heading-price"> ${{ ETH }}</span></h2>
                    </div>
                    
                    <div class="col">
                        <div class="row">
                            <h4 style="text-align: center; font-size: 100%;">{{ fg_class }}</h4>
                        </div>
                        <div class="row">

                        </div>
                        <div class="progress" style="background: linear-gradient(to right, red, yellow, green)">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ fg_num }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ fg_num }}%; background-color:rgba(0, 0, 0, 0.3)"><span style="border-right: 3px solid black;">{{ fg_num }}%</span></div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>


        <hr>

        <!-- REFRESH & CUMULATIVE VALUES ROW -->
        <div class="row">
            <div class="col-sm-1">
                <a href="{{ url_for('index') }}" class="btn btn-outline-info" style="font-size: 95%;">Back <i class="bi bi-arrow-bar-left"></i></a>
            </div>
            <div class="col-sm-10">
                {% if cum_pl_prev > 0 %}
                <h3 >Previous Cumulative P/L: <span style="color: lightgreen;">${{ cum_pl_prev }} ({{ cum_pl_perc_prev }}%)</span></h3>
                {% else %}
                <h3 >Previous Cumulative P/L: <span style="color: red;">${{ cum_pl_prev }} ({{ cum_pl_perc_prev }}%)</span></h3>
                {% endif %}
            </div>
        </div>

        <!-- PORTOFLIO ROW -->
        <div class="row">

            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <!-- display portfolio -->
                <table class="table" width=100%>
                    <thead>
                        <th scope="col"></th>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Sell Value ($USD)</th>
                        <th scope="col">P/L</th>
                        <th scope="col"></th>
                        <th scope="col">Coin name</th>
                        <th scope="col">Sell Price</th>
                        <th scope="col">Entry Price</th>
                        <th scope="col">Entry Amt</th>
                        <th scope="col">Entry Date</th>
                        <th scope="col">Close Date</th>
                    </thead>
                    <tbody>
                        {% for holding in prev_holdings %}
                        <tr>
                            <td>
                                <a href="{{ url_for('remove_prev', prev_id=holding[0]) }}" onclick="return confirm('Do you want to permanentlyy remove {{ holding[4] }} from your portfolio?')"><i class="bi bi-trash"></i></a>                         
                            </td>
                            <th scope="row">{{ holding[0] }}</th>   
                            <td>
                                {% if ( holding[2] > 0) %}
                                    <i class="bi bi-caret-up" style="color: lightgreen;"></i>
                                {% else %} 
                                    <i class="bi bi-caret-down" style="color: red;"></i>
                                {% endif %}
                            </td>
                            <td>{{ holding[1] }}</td>
                            <td>${{ holding[2] }}</td>
                            <td>{{ holding[3] }}%</td>
                            <td style="font-weight: 500;">{{ holding[4] }}</td>
                            <td>{{ holding[5] }}</td>
                            <td>{{ holding[6] }}</td>
                            <td>{{ holding[7] }}</td>
                            <td>--</td>
                            <td>{{ holding[8] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
                {% if prev_holdings %}   
                <a href="{{ url_for('delete_all_prev_holdings') }}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Do you want to permanently remove all previous holdings from your portfolio?')"><i class="bi bi-x"></i> Clear All</a>
                {% endif %}
            </div>
            <div class="col-sm-1"></div>
        </div>

    

        <!-- FOOTER ROW -->
        <div class="row">
        
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    </div>
    {% endblock %}
</html>